# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.venv/
venv/
.env
*.sqlite3
db.sqlite3

# Django
staticfiles/
media/

# Git
.git/
.gitignore

# OS/editor
.DS_Store
.idea/
.vscode/

# Build artifacts
dist/
build/
*.egg-info/

# Misc
post_process_status.lock
